<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Traffic Advice" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="traffic-advice" />
                    <action type="Rewrite" url="traffic-advice.json" appendQueryString="false" />
                </rule>
            </rules>
            <outboundRules>
                <clear />
                <rule name="Traffic Advice" preCondition="Is Traffic Advice File" enabled="true" stopProcessing="true">
                    <match serverVariable="RESPONSE_Content_Type" pattern=".*" negate="false" />
                    <conditions>
                    </conditions>
                    <action type="Rewrite" value="application/trafficadvice+json" />
                </rule>
                <preConditions>
                    <preCondition name="Is Traffic Advice File">
                        <add input="{URL}" pattern="(?:\/)?(?:\.well\-known\/)?traffic\-advice(?:\.json)?" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
